.container{
   border: 1cm black;
   background: #86f4da;
   margin-right: 80rem;
   padding:1rem;
   border-radius: 5px;
   text-align: center;
   position: relative;
}

.main{
    display: block;
}

.main1{
    display: block;
}

h1{
    background: #3b3b3b;
    border-radius: 5px;
    color: white;
    border: 2px black;
}

button{
    padding: 0.5rem;
    border-radius: 5rem;
    margin-top: 10px;
    background-color: #747373;
    color: white;
}